.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100%;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.hero {
  height: 100vh;
  padding-top: 6rem;
  background-image: url("../images/pietro-de-grandi-329892-unsplash.jpg") ;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  margin: 0 auto;
  max-width: 350px;
  display: flex;
}

@media (min-width: 720px) {
  .container {
    margin: 0 auto;
    max-width: 700px;
    display: flex;
  }
}

@media (min-width: 1024px) {
  .container {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
  }
}

.search-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.search-area {
  padding: 2rem 1rem;
}

.destination-ideas {
  padding: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}